.env
.venv/*
**__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg
*.egg-info
*.dist-info
*.whl
*.coverage
*.mypy_cache
*.pytest_cache
*.vscode
*.idea
*.DS_Store
tree.txt
uv.lock
**/*_builder.py
**/*nfc.py
dist/*
docs/*
tests/*
build/*